<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GIF Website</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        h1 {
            color: #333;
        }
        img {
            width: 50%;  /* You can adjust the size of the GIF */
            height: auto;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>MMM Milkers</h1>
    <p>HOLY MOLLY</p>
    <!-- Display the GIF -->
    <img src="{{ url_for('static', filename='33f6c8a50621d439fcafd237547901ff.jpg') }}" alt="33f6c8a50621d439fcafd237547901ff jpg">
    <img src="{{ url_for('static', filename='vro-vro-cat.gif') }}" alt="vro vro cat GIF">
</body>
</html>